pandas==1.5.1
numpy
wikidata==0.7.0
tqdm==4.64.1
sparqlwrapper==2.0.0
pybind11-global==2.10.4
diskcache==5.6.1
rdflib==6.3.2
fastapi==0.95.1
uvicorn==0.21.1
thefuzz[speedup]==0.19.0
huggingface_hub==0.24.7
sentence_transformers==2.2.2
docarray[elasticsearch]==0.37.1
python-dotenv==1.0.0
elasticsearch==8.9.0
loguru==0.7.2
inflect==7.0.0