pandas==1.5.1
numpy
wikidata==0.7.0
tqdm==4.64.1
dash==2.11.0
sparqlwrapper==2.0.0
pybind11-global==2.10.4
fasttext==0.9.2
transformers==4.30.2
docarray==0.21.0
diskcache==5.6.1
rdflib==6.3.2
fastapi==0.95.1
uvicorn==0.21.1
docarray
thefuzz[speedup]==0.19.0